@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --primary-color:#00856F;
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
    font-size: 62.5%; /*1rem = 10px*/

}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;

}

header {
    width: 37.5rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4.1rem;
}
h4 {
    /*px is fixed// rem is relative*/
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
}

h1 {
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 2.4rem;

    /* border: 1px solid red; */
}

p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);
    margin-bottom: 3.2rem;

}

button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 4rem;
    margin-bottom: 6rem;

    height: 6.2rem;
    width: 26.3rem;

    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;

    /*move the children*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    /*diplay flex change the centering of the button*/
    /*use margin to set it*/
    margin-right: auto;
    margin-left: auto;

}

